$color-d: #757676;
$color-b: #84d6d6;
$color-lb: #eef9f8;
$color-l: #fff;
$color-br: #000000;

$tag-color-p: #d684b8;
$tag-color-o: #f1b04e;
$tag-color-g: #abd07b;
$tag-color-b: #84b6d6;
$tag-color-y: #d6bf84;

$ranking-color-g: #c99700;
$ranking-color-s: #c4c4c4;
$ranking-color-b: #ba6e40;
